# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.batch_extract_response import BatchExtractResponse
from ..types.batch_input_source import BatchInputSource
from ..types.batch_output_destination import BatchOutputDestination
from ..types.batch_schema_response import BatchSchemaResponse
from ..types.batch_split_response import BatchSplitResponse
from ..types.batch_tables_response import BatchTablesResponse
from ..types.schema_config import SchemaConfig
from ..types.split_config import SplitConfig
from ..types.tables_config import TablesConfig
from ..types.topic_schema_config import TopicSchemaConfig
from .raw_client import AsyncRawBatchClient, RawBatchClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class BatchClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawBatchClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawBatchClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawBatchClient
        """
        return self._raw_client

    def extract(
        self,
        *,
        input: BatchInputSource,
        output: BatchOutputDestination,
        extract_options: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchExtractResponse:
        """
        Process multiple files in parallel. Enumerates files from an input
        source (S3 prefix, local directory, or URL list), calls
        [Extract](api:POST/extract) for each file, and saves results to an
        output destination.

        Always asynchronous — returns a batch job ID immediately.
        Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress
        including per-file completion status.

        See the [Extract](api:POST/extract) endpoint for details on
        `extract_options` and the [Batch Processing guide](/batch) for
        an overview of the batch pipeline.

        Parameters
        ----------
        input : BatchInputSource
            Source of files to process.

        output : BatchOutputDestination
            Where to save extraction result JSON files.

        extract_options : typing.Optional[typing.Dict[str, typing.Any]]
            Options forwarded to each `/extract` call (e.g. `pages`, `figureProcessing`, `extensions`).

        workers : typing.Optional[int]
            Number of parallel workers. Higher values increase throughput but consume more server resources.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchExtractResponse
            Batch extraction started

        Examples
        --------
        from pulse import BatchInputSource, BatchOutputDestination, Pulse

        client = Pulse(
            api_key="YOUR_API_KEY",
        )
        client.batch.extract(
            input=BatchInputSource(),
            output=BatchOutputDestination(),
        )
        """
        _response = self._raw_client.extract(
            input=input,
            output=output,
            extract_options=extract_options,
            workers=workers,
            request_options=request_options,
        )
        return _response.data

    def schema(
        self,
        *,
        output: BatchOutputDestination,
        batch_extract_id: typing.Optional[str] = OMIT,
        extraction_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        batch_split_id: typing.Optional[str] = OMIT,
        split_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        schema_config: typing.Optional[SchemaConfig] = OMIT,
        split_schema_config: typing.Optional[typing.Dict[str, TopicSchemaConfig]] = OMIT,
        page_range: typing.Optional[str] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchSchemaResponse:
        """
        Apply schema extraction to multiple items in parallel.
        Mode is inferred from the input:

        **Single mode** — Provide `extraction_ids` or `batch_extract_id`
        with `schema_config` to apply one schema to each extraction.

        **Split mode** — Provide `split_ids` or `batch_split_id`
        with `split_schema_config` to apply per-topic schemas to each split.

        Each child call goes through the full [Schema](api:POST/schema) code
        path. Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time
        progress.

        See the [Schema](api:POST/schema) endpoint for details on
        `schema_config` and `split_schema_config`, and the
        [Batch Processing guide](/batch) for an overview of the batch
        pipeline.

        Parameters
        ----------
        output : BatchOutputDestination
            Where to save schema result JSON files.

        batch_extract_id : typing.Optional[str]
            ID of a prior `/batch/extract` run (single mode).

        extraction_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of extraction IDs (single mode).

        batch_split_id : typing.Optional[str]
            ID of a prior `/batch/split` run (split mode).

        split_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of split IDs (split mode).

        schema_config : typing.Optional[SchemaConfig]
            Schema configuration for single mode. Applied to each extraction.

        split_schema_config : typing.Optional[typing.Dict[str, TopicSchemaConfig]]
            Per-topic schema configurations for split mode. Keys must match the topic names from the splits.

        page_range : typing.Optional[str]
            Page range filter for single mode (e.g. `1-5,10`).

        workers : typing.Optional[int]
            Number of parallel workers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchSchemaResponse
            Batch schema started

        Examples
        --------
        from pulse import BatchOutputDestination, Pulse

        client = Pulse(
            api_key="YOUR_API_KEY",
        )
        client.batch.schema(
            output=BatchOutputDestination(),
        )
        """
        _response = self._raw_client.schema(
            output=output,
            batch_extract_id=batch_extract_id,
            extraction_ids=extraction_ids,
            batch_split_id=batch_split_id,
            split_ids=split_ids,
            schema_config=schema_config,
            split_schema_config=split_schema_config,
            page_range=page_range,
            workers=workers,
            request_options=request_options,
        )
        return _response.data

    def tables(
        self,
        *,
        output: BatchOutputDestination,
        batch_extract_id: typing.Optional[str] = OMIT,
        extraction_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        tables_config: typing.Optional[TablesConfig] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchTablesResponse:
        """
        Extract tables from multiple existing extractions in parallel.
        Each child call goes through the full [Tables](api:POST/tables) code
        path.

        Extractions are identified by either a `batch_extract_id` (from a
        prior [Batch Extract](api:POST/batch/extract) run) or an explicit
        list of `extraction_ids`.

        Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress.

        See the [Tables](api:POST/tables) endpoint for details on
        `tables_config` and the [Batch Processing guide](/batch) for an
        overview of the batch pipeline.

        Parameters
        ----------
        output : BatchOutputDestination
            Where to save table result JSON files.

        batch_extract_id : typing.Optional[str]
            ID of a prior `/batch/extract` run. All completed child extraction IDs will be used.

        extraction_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of extraction IDs to process.

        tables_config : typing.Optional[TablesConfig]
            Table extraction configuration forwarded to each `/tables` call.

        workers : typing.Optional[int]
            Number of parallel workers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchTablesResponse
            Batch tables started

        Examples
        --------
        from pulse import BatchOutputDestination, Pulse

        client = Pulse(
            api_key="YOUR_API_KEY",
        )
        client.batch.tables(
            output=BatchOutputDestination(),
        )
        """
        _response = self._raw_client.tables(
            output=output,
            batch_extract_id=batch_extract_id,
            extraction_ids=extraction_ids,
            tables_config=tables_config,
            workers=workers,
            request_options=request_options,
        )
        return _response.data

    def split(
        self,
        *,
        output: BatchOutputDestination,
        split_config: SplitConfig,
        batch_extract_id: typing.Optional[str] = OMIT,
        extraction_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchSplitResponse:
        """
        Split multiple existing extractions by topics in parallel.
        Each child call goes through the full [Split](api:POST/split) code
        path.

        Extractions are identified by either a `batch_extract_id` (from a
        prior [Batch Extract](api:POST/batch/extract) run) or an explicit
        list of `extraction_ids`.

        Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress.

        See the [Split](api:POST/split) endpoint for details on
        `split_config` and the [Batch Processing guide](/batch) for an
        overview of the batch pipeline.

        Parameters
        ----------
        output : BatchOutputDestination
            Where to save split result JSON files.

        split_config : SplitConfig
            Split configuration with topic definitions. Applied to each extraction.

        batch_extract_id : typing.Optional[str]
            ID of a prior `/batch/extract` run. All completed child extraction IDs will be used.

        extraction_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of extraction IDs to process.

        workers : typing.Optional[int]
            Number of parallel workers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchSplitResponse
            Batch split started

        Examples
        --------
        from pulse import BatchOutputDestination, Pulse, SplitConfig, TopicDefinition

        client = Pulse(
            api_key="YOUR_API_KEY",
        )
        client.batch.split(
            output=BatchOutputDestination(),
            split_config=SplitConfig(
                split_input=[
                    TopicDefinition(
                        name="name",
                    )
                ],
            ),
        )
        """
        _response = self._raw_client.split(
            output=output,
            split_config=split_config,
            batch_extract_id=batch_extract_id,
            extraction_ids=extraction_ids,
            workers=workers,
            request_options=request_options,
        )
        return _response.data


class AsyncBatchClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawBatchClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawBatchClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawBatchClient
        """
        return self._raw_client

    async def extract(
        self,
        *,
        input: BatchInputSource,
        output: BatchOutputDestination,
        extract_options: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchExtractResponse:
        """
        Process multiple files in parallel. Enumerates files from an input
        source (S3 prefix, local directory, or URL list), calls
        [Extract](api:POST/extract) for each file, and saves results to an
        output destination.

        Always asynchronous — returns a batch job ID immediately.
        Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress
        including per-file completion status.

        See the [Extract](api:POST/extract) endpoint for details on
        `extract_options` and the [Batch Processing guide](/batch) for
        an overview of the batch pipeline.

        Parameters
        ----------
        input : BatchInputSource
            Source of files to process.

        output : BatchOutputDestination
            Where to save extraction result JSON files.

        extract_options : typing.Optional[typing.Dict[str, typing.Any]]
            Options forwarded to each `/extract` call (e.g. `pages`, `figureProcessing`, `extensions`).

        workers : typing.Optional[int]
            Number of parallel workers. Higher values increase throughput but consume more server resources.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchExtractResponse
            Batch extraction started

        Examples
        --------
        import asyncio

        from pulse import AsyncPulse, BatchInputSource, BatchOutputDestination

        client = AsyncPulse(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.batch.extract(
                input=BatchInputSource(),
                output=BatchOutputDestination(),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.extract(
            input=input,
            output=output,
            extract_options=extract_options,
            workers=workers,
            request_options=request_options,
        )
        return _response.data

    async def schema(
        self,
        *,
        output: BatchOutputDestination,
        batch_extract_id: typing.Optional[str] = OMIT,
        extraction_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        batch_split_id: typing.Optional[str] = OMIT,
        split_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        schema_config: typing.Optional[SchemaConfig] = OMIT,
        split_schema_config: typing.Optional[typing.Dict[str, TopicSchemaConfig]] = OMIT,
        page_range: typing.Optional[str] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchSchemaResponse:
        """
        Apply schema extraction to multiple items in parallel.
        Mode is inferred from the input:

        **Single mode** — Provide `extraction_ids` or `batch_extract_id`
        with `schema_config` to apply one schema to each extraction.

        **Split mode** — Provide `split_ids` or `batch_split_id`
        with `split_schema_config` to apply per-topic schemas to each split.

        Each child call goes through the full [Schema](api:POST/schema) code
        path. Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time
        progress.

        See the [Schema](api:POST/schema) endpoint for details on
        `schema_config` and `split_schema_config`, and the
        [Batch Processing guide](/batch) for an overview of the batch
        pipeline.

        Parameters
        ----------
        output : BatchOutputDestination
            Where to save schema result JSON files.

        batch_extract_id : typing.Optional[str]
            ID of a prior `/batch/extract` run (single mode).

        extraction_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of extraction IDs (single mode).

        batch_split_id : typing.Optional[str]
            ID of a prior `/batch/split` run (split mode).

        split_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of split IDs (split mode).

        schema_config : typing.Optional[SchemaConfig]
            Schema configuration for single mode. Applied to each extraction.

        split_schema_config : typing.Optional[typing.Dict[str, TopicSchemaConfig]]
            Per-topic schema configurations for split mode. Keys must match the topic names from the splits.

        page_range : typing.Optional[str]
            Page range filter for single mode (e.g. `1-5,10`).

        workers : typing.Optional[int]
            Number of parallel workers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchSchemaResponse
            Batch schema started

        Examples
        --------
        import asyncio

        from pulse import AsyncPulse, BatchOutputDestination

        client = AsyncPulse(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.batch.schema(
                output=BatchOutputDestination(),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.schema(
            output=output,
            batch_extract_id=batch_extract_id,
            extraction_ids=extraction_ids,
            batch_split_id=batch_split_id,
            split_ids=split_ids,
            schema_config=schema_config,
            split_schema_config=split_schema_config,
            page_range=page_range,
            workers=workers,
            request_options=request_options,
        )
        return _response.data

    async def tables(
        self,
        *,
        output: BatchOutputDestination,
        batch_extract_id: typing.Optional[str] = OMIT,
        extraction_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        tables_config: typing.Optional[TablesConfig] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchTablesResponse:
        """
        Extract tables from multiple existing extractions in parallel.
        Each child call goes through the full [Tables](api:POST/tables) code
        path.

        Extractions are identified by either a `batch_extract_id` (from a
        prior [Batch Extract](api:POST/batch/extract) run) or an explicit
        list of `extraction_ids`.

        Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress.

        See the [Tables](api:POST/tables) endpoint for details on
        `tables_config` and the [Batch Processing guide](/batch) for an
        overview of the batch pipeline.

        Parameters
        ----------
        output : BatchOutputDestination
            Where to save table result JSON files.

        batch_extract_id : typing.Optional[str]
            ID of a prior `/batch/extract` run. All completed child extraction IDs will be used.

        extraction_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of extraction IDs to process.

        tables_config : typing.Optional[TablesConfig]
            Table extraction configuration forwarded to each `/tables` call.

        workers : typing.Optional[int]
            Number of parallel workers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchTablesResponse
            Batch tables started

        Examples
        --------
        import asyncio

        from pulse import AsyncPulse, BatchOutputDestination

        client = AsyncPulse(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.batch.tables(
                output=BatchOutputDestination(),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.tables(
            output=output,
            batch_extract_id=batch_extract_id,
            extraction_ids=extraction_ids,
            tables_config=tables_config,
            workers=workers,
            request_options=request_options,
        )
        return _response.data

    async def split(
        self,
        *,
        output: BatchOutputDestination,
        split_config: SplitConfig,
        batch_extract_id: typing.Optional[str] = OMIT,
        extraction_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        workers: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BatchSplitResponse:
        """
        Split multiple existing extractions by topics in parallel.
        Each child call goes through the full [Split](api:POST/split) code
        path.

        Extractions are identified by either a `batch_extract_id` (from a
        prior [Batch Extract](api:POST/batch/extract) run) or an explicit
        list of `extraction_ids`.

        Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress.

        See the [Split](api:POST/split) endpoint for details on
        `split_config` and the [Batch Processing guide](/batch) for an
        overview of the batch pipeline.

        Parameters
        ----------
        output : BatchOutputDestination
            Where to save split result JSON files.

        split_config : SplitConfig
            Split configuration with topic definitions. Applied to each extraction.

        batch_extract_id : typing.Optional[str]
            ID of a prior `/batch/extract` run. All completed child extraction IDs will be used.

        extraction_ids : typing.Optional[typing.Sequence[str]]
            Explicit list of extraction IDs to process.

        workers : typing.Optional[int]
            Number of parallel workers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BatchSplitResponse
            Batch split started

        Examples
        --------
        import asyncio

        from pulse import (
            AsyncPulse,
            BatchOutputDestination,
            SplitConfig,
            TopicDefinition,
        )

        client = AsyncPulse(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.batch.split(
                output=BatchOutputDestination(),
                split_config=SplitConfig(
                    split_input=[
                        TopicDefinition(
                            name="name",
                        )
                    ],
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.split(
            output=output,
            split_config=split_config,
            batch_extract_id=batch_extract_id,
            extraction_ids=extraction_ids,
            workers=workers,
            request_options=request_options,
        )
        return _response.data
