# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawResultsClient, RawResultsClient


class ResultsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawResultsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawResultsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawResultsClient
        """
        return self._raw_client

    def get_pdf(
        self, job_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[bytes]:
        """
        Download the PDF binary produced by a `/form/detect`,
        `/form/fill`, or `/form/clear` job. The `pdf_url` field on a
        `FormResult` points at this endpoint — you can hand it
        directly to a browser, embed it in an `<iframe>`, or fetch the
        bytes from a backend.

        Returns `404` for non-form jobs (no PDF was produced) and for
        form jobs whose PDF artifact is no longer available.

        Parameters
        ----------
        job_id : str
            Job identifier from a form endpoint.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.Iterator[bytes]
            PDF binary (`application/pdf`).

        Examples
        --------
        from pulse import Pulse

        client = Pulse(
            api_key="YOUR_API_KEY",
        )
        client.results.get_pdf(
            job_id="jobId",
        )
        """
        with self._raw_client.get_pdf(job_id, request_options=request_options) as r:
            yield from r.data


class AsyncResultsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawResultsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawResultsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawResultsClient
        """
        return self._raw_client

    async def get_pdf(
        self, job_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[bytes]:
        """
        Download the PDF binary produced by a `/form/detect`,
        `/form/fill`, or `/form/clear` job. The `pdf_url` field on a
        `FormResult` points at this endpoint — you can hand it
        directly to a browser, embed it in an `<iframe>`, or fetch the
        bytes from a backend.

        Returns `404` for non-form jobs (no PDF was produced) and for
        form jobs whose PDF artifact is no longer available.

        Parameters
        ----------
        job_id : str
            Job identifier from a form endpoint.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.AsyncIterator[bytes]
            PDF binary (`application/pdf`).

        Examples
        --------
        import asyncio

        from pulse import AsyncPulse

        client = AsyncPulse(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.results.get_pdf(
                job_id="jobId",
            )


        asyncio.run(main())
        """
        async with self._raw_client.get_pdf(job_id, request_options=request_options) as r:
            async for _chunk in r.data:
                yield _chunk
